/**
 * This template for single thread, WITHIN aggregation function query
 */
 
int selectLevel = 0;
int fetchLevel = 0;
int nextLevel = 0;
boolean hasMoreSlices = true;

//inSlice declaration
#foreach ($symbol in $query.getSymbolTable().values())
#if ($symbol.isColumnID())
#if ($symbol.isTypeInt())
int $symbol.getJavaName() = 0;
#elseif ($symbol.isTypeFloat())
double $symbol.getJavaName() = 0.0;
#elseif ($symbol.isTypeBool())
boolean $symbol.getJavaName() = false;
#elseif ($symbol.isTypeString())
String $symbol.getJavaName() = null;
#end
boolean is_$symbol.getJavaName()_null = true;
#end
#end

class OutSlice
{
	public int missing_count = $query.getAggregationFunctions().size();
	
#foreach ($exp in $query.getSelectExpressions())
#if ($exp.isTypeInt())
	public int $exp.getJavaName() = 0;
#elseif ($exp.isTypeFloat())
	public double $exp.getJavaName() = 0.0;
#elseif ($exp.isTypeBool())
	public boolean $exp.getJavaName() = false;
#elseif ($exp.isTypeString())
	public String $exp.getJavaName() = null;
#end
	public int $exp.getJavaName()_state = 3; //0~OK,1~NULL,2~NOTEMITTED, 3~MISSING (for aggregation)
#end
	//linked list
	public OutSlice next;
	public OutSlice previous;
};

OutSlice first = new OutSlice();
first.next = null;
first.previous = null;
OutSlice last = null;

#foreach ($exp in $query.getSelectExpressions())
boolean input_changed_$exp.getJavaName() = false;
#end

ColumnReader reader = null;

while (hasMoreSlices)
{
#foreach ($exp in $query.getSelectExpressions())
	input_changed_$exp.getJavaName() = false;
#end
	//fetch inSlice from sourceTablet
	nextLevel = 0;
	hasMoreSlices = false;
#foreach ($symbol in $query.getSymbolTable().values())
#if ($symbol.isColumnID())
	reader = (ColumnReader)sourceTablet.getColumns().get("$symbol.getSymbol()");
	if(reader.nextRepetitionLevel() >= fetchLevel)
	{
#foreach ($exp in $query.getSelectExpressions())
#if ($exp.getSymbols().contains($symbol))
		input_changed_$exp.getJavaName() = true;
#end
#end	
		boolean isLastInReader = reader.next();
		// if at least on reader has more elements, then we have more slices.
		hasMoreSlices = hasMoreSlices || isLastInReader;
		
		if(reader.isNull())
		{
			is_$symbol.getJavaName()_null = true;
#if ($symbol.isTypeInt())
			$symbol.getJavaName() = 0;
#elseif ($symbol.isTypeFloat())
			//$symbol.getJavaName() = 0.0;
#elseif ($symbol.isTypeBool())
			//$symbol.getJavaName() = false;
#elseif ($symbol.isTypeString())
			$symbol.getJavaName() = "";
#end			
		}else
		{
			is_$symbol.getJavaName()_null = false;
#if ($symbol.isTypeInt())
			$symbol.getJavaName() = reader.getIntValue();
#elseif ($symbol.isTypeFloat())
			//$symbol.getJavaName() = reader.getFloatValue();
#elseif ($symbol.isTypeBool())
			//$symbol.getJavaName() = reader.getIntValue();
#elseif ($symbol.isTypeString())
			$symbol.getJavaName() = reader.getStringValue();
#end
		}
	}
	nextLevel = Math.max(nextLevel, reader.nextRepetitionLevel());
#end
#end	

	fetchLevel = nextLevel;
	
	if (!hasMoreSlices) break; //no more slice, exit

#if ($query.getFilter())
	if ($query.getFilter().getRoot().generateCode())
	{
#end
		//calculate expressions for outSlice
#foreach ($exp in $query.getSelectExpressions())		
		if (selectLevel <= $exp.getRepetitionLevel() && input_changed_$exp.getJavaName())
		{
			if(#foreach ($symbol in $exp.getSymbols()) is_$symbol.getJavaName()_null && #end true) //all input are null
			{
				System.out.print("NULL\t\t");//TODO: append NULL to resultTablet here
			}
			else
			{ 
				//$exp.getJavaName() = $exp.getRoot().generateCode();
				//System.out.print($exp.getJavaName() + "\t\t"); //TODO: append $exp.getJavaName() to resultTablet here
			}	
		}
		else
		{
			System.out.print("N/A\t\t"); //for debug only
		} 
#end		
		
		System.out.println();				
		selectLevel = fetchLevel;

#if ($query.getFilter())	
	} 
	else 
	{
		if(selectLevel > fetchLevel) selectLevel = fetchLevel;
	}
#end
}